/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, .sidebar {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    /*right: 0;*/
    bottom: 0;
    overflow: hidden;
}
    body {
        right: 0;
    }
    .toggleSidebar {
        z-index: 2;
        position: fixed;

        right: 0;
        margin: 0.75em;
        width: 1.5em;
        height: 1.5em;

        background: none;
        border: none;
    }
        .toggleSidebar .bar {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            background-color: #232323;

            padding: 8%;
            border: 0;
            border-radius: 20%;
        }
            .toggleSidebar .bar:nth-child(1) {
                top: 0;
                bottom: 74%;
            }
            .toggleSidebar .bar:nth-child(2) {
                top: 37%;
                bottom: 37%;
            }
            .toggleSidebar .bar:nth-child(3) {
                top: 74%;
                bottom: 0;
            }
            .toggleSidebar .bar div {
                height: 100%;
                width: 100%;
                background-color: #DCDCDC;
                border-radius: 20%;
            }
    .sidebar {
        z-index: 1;
        left: 100vw;

        background-color: #232323;
        color: #DCDCDC;

        padding: 3em 0;
        padding-left: 0.3em;
    }
        .heading, .options > * {
            height: 1.5em;
        }
            .heading:nth-of-type(odd), .options > :nth-child(odd) {
                float: left;
                clear: left;
                width: 8em;
            }
                .heading:nth-of-type(odd) > *, .options > :nth-child(odd) > * {
                    float: right;
                    width: auto;
                }
            .heading:nth-of-type(even), .options > :nth-child(even) {
                float: right;
                clear: right;
                width: 11.7em;
            }
        /* menu section headings */
        .heading:nth-of-type(odd), .heading:nth-of-type(even) {
            /*padding: 0.25em 0;*/
        }
            .heading:nth-of-type(odd) h1, .heading:nth-of-type(even) h1 {
                margin: 0;
                height: auto;
                font-size: 1em;
            }
            .heading:nth-of-type(odd) h1 {
                margin-right: 0.25em;
            }
            .heading:nth-of-type(even) h1 {
                /*float: left;*/
                margin-left: 0.25em;
                width: auto;
            }
        /* options section */
        .options {
            clear: both;
            margin-bottom: 0.4em;
            overflow: hidden;
        }
            .options > div {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                border-width: 0.15em 0;
                border-style: solid;
            }
                .options > div > * {
                    font-size: 0.875em;
                    /*line-height: 1.35em;*/
                }
                .options > :nth-child(odd) {
                    padding-right: 0.2em;

                    border-color: #DCDCDC;
                    /*background-color: black;*/
                }
                    .options > :nth-child(1) {
                        border-bottom-width: 0;
                    }
                    .options > :nth-child(5) {
                        border-top-width: 0;
                    }
                .options > :nth-child(even) {
                    /*padding-left: 0.2em;*/
                    /*padding: 0.05em;*/

                    border: none;
                    /*border-color: #DCDCDC;*/
                    background-color: #DCDCDC;
                    color: #232323;
                }
                    .options > :nth-child(even) > * {
                        /*background-color: #DCDCDC;*/
                        width: 100%;
                        height: 95%;
                        border: none;
                        /*border-radius: none;*/
                    }
                    .options > :nth-child(2) {
                        padding-bottom: 0;
                    }
                    .options > :nth-child(6) {
                        padding-top: 0;
                    }
        /* character section */
        .sidebar .main {
          clear: both;
            /*overflow: hidden;*/
        }
            .char {
                padding: 0;
                height: 2em;
                background-color: #DCDCDC;
                color: #232323;
                border-style: solid;
                border-width: 0.05em 0;
                border-color: #898989;
            }
              .char > * {
                float: left;
                height: 100%;
              }
              .char .controls {
                float: right;
                margin-right: 0.5em;
              }
                .char .controls > * {
                  margin: auto;
                  border: 0;
                  padding: 0;
                  /*margin: 0;*/
                  background: none;

                  height: 2em;
                  width: 1.5em;
                }
                  .char .controls > :nth-child(1), .char .controls > :nth-child(5) {
                    width: 1em;
                  }
                  .char .controls > :nth-child(2), .char .controls > :nth-child(4) {
                    width: 1.3em;
                  }
                  .char .controls > :nth-child(3) {
                    /*width: 1.6em;*/
                  }
                  .char .controls > * > span {
                    font-size: 1.3em;
                  }
              .char .controls {

              }
                /*.character .colour, .character .name, .character .controls {
                    height: 10%;
                }
                    .character .colour {
                        width: 30%;
                    }
                    .character .name {
                        width: 60%;
                    }
                    .character .controls {

                    }*/
    .map {
        z-index: 0;
        /*background: url(../img/silmarillion_map.png) no-repeat;
        background-size: cover;*/
        /*visibility: visible;*/
        position: absolute;
    }

[data-icon]:before {
  font-family: icons; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}
.icon-alone {
  display: inline-block; /* Chrome 19 was weird with clickability without this */
}
.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 900px) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
